<a href="https://colab.research.google.com/github/boramkim0514/python01/blob/main/D21_01_%EB%B6%80%EB%8F%99%EC%82%B0_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://bit.ly/ds-house-price")
df.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

#분석 전 생각해볼 것들 
~ 별 어떤 집계 해볼지 생각  
* 지역별 분양가격의 평균
* 월별 분양 가격 평균 
* 지역별 분양 갯수


* 데이터 분석 : (~산업 별 수치) 산정도
불분명함 때려맞춤은 실패  

#데이터 전처리 목적 
    * 불필요한 데이터 걸래니는 작업
        ** NaN값
        - 예시

        ** 중복값 (필요에 따라 걸래낼 것)
            *** NaN값

##코딩은 데이터사이언스에서 중요한게 아니라 당연해서 연습해야함!

    * 오차범위 예외
*사용 편의를 위해
## 정규식 중요!!!! 데이터 전처리를 위해 연습해야함 
# ML - numpy pandas 시각화 필필수!
# 코드는 절대 복붙 하지 말기! 
    * 오류 떴을 때 수정 불가능
    * 복붙 시 한줄한줄 주석 적기!
    * 코딩의 목적을 과정에 두어라!! 이해가 안되면 될떄까지 거기에 대한 공부를 해야함.. 왜 이렇게 짰지? 이렇게 짰을까 고민하는 것
반드시 복붙

    * 상수값 (㎡)
    * dict 키 값..

1. column 이름 재정의 
분양가격(m^2) -> 분양가

In [ ]:
#rename 활용
df = df.rename(columns= {
    "분양가격(㎡)" : "분양가격"
})
df.head()

  지역명               규모구분    연도   월  분양가격
0  서울                 전체  2015  10  5841
1  서울         전용면적 60㎡이하  2015  10  5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4  서울        전용면적 102㎡초과  2015  10  5879

#2. Data 전체적으로 살펴보기(Overview)

#2-1. NaN 값 및 DataType 확인
NaN 값 얼마나 있는지 파악 후 해당 데이터 어떻게 처리할지 판단
*DataType 왜?
- 수치 데이터 실제 수치 데이터 형식으로 들어왔는지 반드시 확인 필요
- CSV에서 불러왔으면 대부분 잘 들어가있음
- 스크래이핑으로 데이터 불러왔을 시 문제가 됨 특히 (HTML)
-- HTML은 ** 문자열** 형식

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4210 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

####분양가가 숫자처럼 보이지만 문자열(object)로 들어가있음!

2-2.

In [8]:
df.describe()

                연도            월
count  4505.000000  4505.000000
mean   2017.452830     6.566038
std       1.311432     3.595519
min    2015.000000     1.000000
25%    2016.000000     3.000000
50%    2017.000000     7.000000
75%    2019.000000    10.000000
max    2020.000000    12.000000

#Var, variance(분산)/std, standard deviation(표준편차) 
* 분산과 표준편차가 클수록 데이터가 멀리 퍼져있고 아웃라이어가 많을 수도 있다는 뜻

# 3. 분양가격 컬럼을 정수(int)타입으로 변경

In [ ]:
df['분양가격'].astype(int) #에러 이유 : 문자열, 공백, - , ","  등등

In [10]:
df.loc[df['분양가격']== '  ']

    지역명               규모구분    연도   월 분양가격
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

### 문자열인 분양가를 strip으로 제거해주거나 replace 씀

문자열(object) 컬럼에 문자열에 관련된 함수 적용시, 반드시 시리즈 뒤에 'str' 붙여줘야함 

#strip을 분양가격 컬럼에 적용
df['분양가격'].str.strip()

``` python 
df['분양가격'] -> 시리즈로 나옴
df['분양가격'].str -> 시리즈에 들어있는 문자열 데이터
```

In [94]:
df['분양가격']

0       5841
1       5652
2       5882
3       5721
4       5879
        ...
4498    3247
4500    3955
4501    4039
4502    3962
4504    3601
Name: 분양가격, Length: 4185, dtype: int64

In [ ]:
df['분양가격'].str #함수 value 값이 없어서 에러뜸!

In [15]:
df['분양가격'] = df['분양가격'].str.strip()
df.loc[df['분양가격'] == '']

    지역명               규모구분    연도   월 분양가격
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

In [22]:
# 분양 가격에 비어있는 문자열 ' '가 들어있으면 0원 넣어주기
# NaN, 0, ' ' 차이 인지하는가?
# df.loc[df['분양가격'] == '', '분양가격'] = 0
# 조건,  열 선택
df.loc[df['분양가격'] == '', '분양가격' ] = 0

In [25]:
df.loc[df['분양가격'] == '', '분양가격' ] = 0

In [ ]:
df['분양가격'].astype(int)

### NaN fillna함수로 채워주기

In [99]:
df['분양가격'] = df['분양가격'].fillna(0)

In [100]:
df

     지역명           규모구분    연도   월  분양가격
0     서울             전체  2015  10  5841
1     서울          60㎡이하  2015  10  5652
2     서울    60㎡초과 85㎡이하  2015  10  5882
3     서울   85㎡초과 102㎡이하  2015  10  5721
4     서울         102㎡초과  2015  10  5879
...   ..            ...   ...  ..   ...
4498  경남   85㎡초과 102㎡이하  2020   2  3247
4500  제주             전체  2020   2  3955
4501  제주          60㎡이하  2020   2  4039
4502  제주    60㎡초과 85㎡이하  2020   2  3962
4504  제주         102㎡초과  2020   2  3601

[4185 rows x 5 columns]

In [ ]:
df['분양가격'].astype(int)

## comma( , ) 제거 
``` python
# replace() 함수 사용 문장 제거
# 문자열 함수 때문에 앞에 str 필요하다
replace ("대상 문자열( 또는 정규식 )", "바꿀 문자열")
```

In [31]:
df["분양가격"] = df["분양가격"].str.replace(",", "")

In [32]:
df

     지역명               규모구분    연도   월  분양가격
0     서울                 전체  2015  10  5841
1     서울         전용면적 60㎡이하  2015  10  5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4     서울        전용면적 102㎡초과  2015  10  5879
...   ..                ...   ...  ..   ...
4500  제주                 전체  2020   2  3955
4501  제주         전용면적 60㎡이하  2020   2  4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2  3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2   NaN
4504  제주        전용면적 102㎡초과  2020   2  3601

[4505 rows x 5 columns]

In [ ]:
df['분양가격'].astype(int)

# df["분양가격"] = df["분양가격"].str.replace(",", "")  공백이 NaN값이 되었기 때문에 처리해줘야함

In [34]:
df['분양가격'] = df['분양가격'].fillna(0)

In [ ]:
df['분양가격'].astype(int)

In [36]:
df

     지역명               규모구분    연도   월  분양가격
0     서울                 전체  2015  10  5841
1     서울         전용면적 60㎡이하  2015  10  5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4     서울        전용면적 102㎡초과  2015  10  5879
...   ..                ...   ...  ..   ...
4500  제주                 전체  2020   2  3955
4501  제주         전용면적 60㎡이하  2020   2  4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2  3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2     0
4504  제주        전용면적 102㎡초과  2020   2  3601

[4505 rows x 5 columns]

#hyphen 제거

In [37]:
df['분양가격'] = df['분양가격'].str.replace("-", '')

In [ ]:
df['분양가격'].astype(int)

In [39]:
df['분양가격'] = df['분양가격'].fillna(0)

In [ ]:
df['분양가격'].astype(int)

다시 빈 공백을 0으로 채워주기

In [41]:
df.loc[df['분양가격'] == '', '분양가격' ] = 0
df['분양가격'] = df['분양가격'].astype(int)

데이터 프레임 정보 확인

In [ ]:
df['분양가격'].astype(int)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4505 non-null   int64
dtypes: int64(3), object(2)
memory usage: 176.1+ KB

#[번외] 전처리 전략

In [108]:
df_temp = pd.read_csv("https://bit.ly/ds-house-price")
df_temp.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

#정규식의 중요성 
* [0-9,ㄱ-ㅎㅏ-ㅣ가-힣a-zA-Z[0-9]+[.][0-9]+)", '')[^]

In [109]:
# 열람하고 싶은 데이터 종류 확인 
not_number_datas = df_temp['분양가격(㎡)'].str.replace("[0-9]", '')
not_number_datas

0
1
2
3
4
       ...
4500
4501
4502
4503    NaN
4504
Name: 분양가격(㎡), Length: 4505, dtype: object

In [110]:
set(not_number_datas)

{'', '  ', ',', '-', nan}

In [ ]:
set(not_number_datas)

# 4. 규모구분 '전용면적' 문자열 삭제

In [49]:
df.head()

  지역명               규모구분    연도   월  분양가격
0  서울                 전체  2015  10  5841
1  서울         전용면적 60㎡이하  2015  10  5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4  서울        전용면적 102㎡초과  2015  10  5879

In [50]:
df['규모구분'].unique()

array(['전체', '전용면적 60㎡이하', '전용면적 60㎡초과 85㎡이하', '전용면적 85㎡초과 102㎡이하',
       '전용면적 102㎡초과'], dtype=object)

In [53]:
df['규모구분'] = df['규모구분'].str.replace("전용면적", "")
df.head()

  지역명           규모구분    연도   월  분양가격
0  서울             전체  2015  10  5841
1  서울          60㎡이하  2015  10  5652
2  서울    60㎡초과 85㎡이하  2015  10  5882
3  서울   85㎡초과 102㎡이하  2015  10  5721
4  서울         102㎡초과  2015  10  5879

In [54]:
df['규모구분'].unique()

array(['전체', ' 60㎡이하', ' 60㎡초과 85㎡이하', ' 85㎡초과 102㎡이하', ' 102㎡초과'],
      dtype=object)

5. 지역명 별로 평균 분양가격 확인하기
* ~별로 ~(집계, 평균 etc)를 확인하고 싶을 때. : 'groupby'
pivot table 분석 용도(index를 열과 행으로 따로 분리할때)

In [56]:
df.groupby("지역명") #지역명 별로

In [ ]:
df.groupby("지역명")['분양가격'] #지역명 별 분양가의 # [] 의 선택 의미, () groupby

In [57]:
df.groupby("지역명")['분양가격'].mean() #지역명 별 분양가의 가격

지역명
강원    2339.807547
경기    4072.667925
경남    2761.275472
경북    2432.128302
광주    2450.728302
대구    3538.920755
대전    2479.135849
부산    3679.920755
서울    7225.762264
세종    2815.098113
울산    1826.101887
인천    3578.433962
전남    2270.177358
전북    2322.060377
제주    2979.407547
충남    2388.324528
충북    2316.871698
Name: 분양가격, dtype: float64

## 5-1. 전처리 하면서  가격이 0이 된 데이터는 
*평균 구할 시 치명적이므로 삭제

In [59]:
df.loc[df['분양가격'] == 0 ]

     지역명           규모구분    연도   월  분양가격
28    광주   85㎡초과 102㎡이하  2015  10     0
29    광주         102㎡초과  2015  10     0
34    대전         102㎡초과  2015  10     0
81    제주          60㎡이하  2015  10     0
113   광주   85㎡초과 102㎡이하  2015  11     0
...   ..            ...   ...  ..   ...
4461  세종          60㎡이하  2020   2     0
4488  전남   85㎡초과 102㎡이하  2020   2     0
4493  경북   85㎡초과 102㎡이하  2020   2     0
4499  경남         102㎡초과  2020   2     0
4503  제주   85㎡초과 102㎡이하  2020   2     0

[320 rows x 5 columns]

분양가 0인 데이터(행) 삭제

# 특정 조건 만족하는 행 데이터 제거시, 
1. 조건 만족하는 index를 가져오거나
2. drop 활용해서 행을 제거

In [61]:
drop_idx =  df.loc[df['분양가격'] == 0].index
drop_idx

Int64Index([  28,   29,   34,   81,  113,  114,  119,  166,  198,  199,
            ...
            4418, 4448, 4453, 4458, 4459, 4461, 4488, 4493, 4499, 4503],
           dtype='int64', length=320)

In [62]:
#2단계
df = df.drop(drop_idx, axis= 0)
df.loc[df['분양가격'] == 0]

Empty DataFrame
Columns: [지역명, 규모구분, 연도, 월, 분양가격]
Index: []

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4185 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4185 non-null   object
 1   규모구분    4185 non-null   object
 2   연도      4185 non-null   int64
 3   월       4185 non-null   int64
 4   분양가격    4185 non-null   int64
dtypes: int64(3), object(2)
memory usage: 196.2+ KB

필요없는 데이터 제거 했으니 다시 확인

In [72]:
df.groupby("지역명")["분양가격"].mean()

지역명
강원    2412.642023
경기    4072.667925
경남    2814.376923
경북    2547.486166
광주    3049.028169
대구    3663.335938
대전    3128.433333
부산    3679.920755
서울    7225.762264
세종    2984.004000
울산    3043.503145
인천    3633.275862
전남    2304.969349
전북    2348.648855
제주    3432.795652
충남    2501.604743
충북    2316.871698
Name: 분양가격, dtype: float64

Question 지역별 평균 분양가가 제일 비싼 지역, 제일 싼 지역의 차

In [70]:
df.groupby("지역명")["분양가격"].mean().max()

7225.762264150943

In [71]:
df.groupby("지역명")["분양가격"].mean().min()

2304.969348659004

In [73]:
df.groupby("지역명")["분양가격"].mean().max() - df.groupby("지역명")["분양가격"].mean().min()

4920.792915491939

연도별 평균 분양가 구하기

In [74]:
df.groupby("연도")['분양가격'].mean()

연도
2015    2788.707819
2016    2934.250000
2017    3143.311795
2018    3326.951034
2019    3693.422149
2020    3853.960526
Name: 분양가격, dtype: float64

#6. 피벗테이블 사용
* 연도별 평균 분양가격 보고싶은데, 규모규분 별로 보고싶어함
    * 2개 이상의 그룹핑(연도별/규모별)이 들어감 
    * index가 두개가 됨
    * 행 인덱스: 가로줄로 표현될 그루핑 (연도) - index
    * 열 인덱스 : 규모구분 - 'columns'
    * 집계 할 값 대상: 분양가격 - 'values'

In [93]:
pd.pivot_table(
    df, #사용할 데이터프레임
    index="연도", # 연도값이 인덱스 됨
    columns="규모구분", #규모구분의 값이 컬럼명이 됨
    values="분양가격")

규모구분       102㎡초과        60㎡이하   60㎡초과 85㎡이하   85㎡초과 102㎡이하           전체
연도
2015  2980.977778  2712.583333   2694.490196    2884.395833  2694.862745
2016  3148.099476  2848.144279   2816.965686    3067.380435  2816.073529
2017  3427.649746  3112.538071   2981.950980    3204.075145  3008.279412
2018  3468.355932  3286.184783   3227.458128    3467.184211  3235.098522
2019  4039.854839  3486.910112   3538.545918    3933.538462  3515.974490
2020  4187.566667  3615.968750   3594.852941    4532.090909  3603.911765

#Multi- Indexing 
상기 데이터프레임의 목적은 규모구분별로 보고싶다
행을 대표하는 인덱스값이 2개가 될때, 
연도별 분양가를 한줄로 보고 싶을 때 -> Multi indexing

결론 목표 : 1. 연도(기준1) 2. 규모구분(기준2) 별 평균 분양가격(열)

In [88]:
df.groupby(["연도", "규모구분"])["분양가격"].mean()

연도    규모구분
2015   102㎡초과          2980.977778
       60㎡이하           2712.583333
       60㎡초과 85㎡이하     2694.490196
       85㎡초과 102㎡이하    2884.395833
      전체               2694.862745
2016   102㎡초과          3148.099476
       60㎡이하           2848.144279
       60㎡초과 85㎡이하     2816.965686
       85㎡초과 102㎡이하    3067.380435
      전체               2816.073529
2017   102㎡초과          3427.649746
       60㎡이하           3112.538071
       60㎡초과 85㎡이하     2981.950980
       85㎡초과 102㎡이하    3204.075145
      전체               3008.279412
2018   102㎡초과          3468.355932
       60㎡이하           3286.184783
       60㎡초과 85㎡이하     3227.458128
       85㎡초과 102㎡이하    3467.184211
      전체               3235.098522
2019   102㎡초과          4039.854839
       60㎡이하           3486.910112
       60㎡초과 85㎡이하     3538.545918
       85㎡초과 102㎡이하    3933.538462
      전체               3515.974490
2020   102㎡초과          4187.566667
       60㎡이하           3615.968750
       60㎡초과 85㎡이하     3594.852941
       85㎡초과 102㎡이하    4532.090909
      전체               3603.911765
Name: 분양가격, dtype: float64

In [89]:
pd.DataFrame(df.groupby(["연도", "규모구분"])["분양가격"].mean())

                           분양가격
연도   규모구분
2015  102㎡초과        2980.977778
      60㎡이하         2712.583333
      60㎡초과 85㎡이하   2694.490196
      85㎡초과 102㎡이하  2884.395833
     전체             2694.862745
2016  102㎡초과        3148.099476
      60㎡이하         2848.144279
      60㎡초과 85㎡이하   2816.965686
      85㎡초과 102㎡이하  3067.380435
     전체             2816.073529
2017  102㎡초과        3427.649746
      60㎡이하         3112.538071
      60㎡초과 85㎡이하   2981.950980
      85㎡초과 102㎡이하  3204.075145
     전체             3008.279412
2018  102㎡초과        3468.355932
      60㎡이하         3286.184783
      60㎡초과 85㎡이하   3227.458128
      85㎡초과 102㎡이하  3467.184211
     전체             3235.098522
2019  102㎡초과        4039.854839
      60㎡이하         3486.910112
      60㎡초과 85㎡이하   3538.545918
      85㎡초과 102㎡이하  3933.538462
     전체             3515.974490
2020  102㎡초과        4187.566667
      60㎡이하         3615.968750
      60㎡초과 85㎡이하   3594.852941
      85㎡초과 102㎡이하  4532.090909
     전체             3603.911765

In [ ]:
# pivot_table로 확인
# 연도 규무구분별, 분양가격의 평균, 최대값, 최소값 확인
# pivot_table 기본 집계: values로 지정한 컬럼의 평균
# 평균 이외 다른 집계 때는 aggfunc(aggregation function) 옵션 활용

In [104]:
pd.pivot_table(
    df,
    index = ["연도", "규모구분"],
    values= "분양가격"
)

                           분양가격
연도   규모구분
2015  102㎡초과        2980.977778
      60㎡이하         2712.583333
      60㎡초과 85㎡이하   2694.490196
      85㎡초과 102㎡이하  2884.395833
     전체             2694.862745
2016  102㎡초과        3148.099476
      60㎡이하         2848.144279
      60㎡초과 85㎡이하   2816.965686
      85㎡초과 102㎡이하  3067.380435
     전체             2816.073529
2017  102㎡초과        3427.649746
      60㎡이하         3112.538071
      60㎡초과 85㎡이하   2981.950980
      85㎡초과 102㎡이하  3204.075145
     전체             3008.279412
2018  102㎡초과        3468.355932
      60㎡이하         3286.184783
      60㎡초과 85㎡이하   3227.458128
      85㎡초과 102㎡이하  3467.184211
     전체             3235.098522
2019  102㎡초과        4039.854839
      60㎡이하         3486.910112
      60㎡초과 85㎡이하   3538.545918
      85㎡초과 102㎡이하  3933.538462
     전체             3515.974490
2020  102㎡초과        4187.566667
      60㎡이하         3615.968750
      60㎡초과 85㎡이하   3594.852941
      85㎡초과 102㎡이하  4532.090909
     전체             3603.911765

In [106]:
#numpy에 각종 집계함수가 있음! 
import numpy as np

pd.pivot_table(
    df,
    index=["연도", "규모구분"], 
    values="분양가격",
    aggfunc=[np.mean, np.max, np.min]
)

                           mean   amax  amin
                           분양가격   분양가격  분양가격
연도   규모구분
2015  102㎡초과        2980.977778   6551  2171
      60㎡이하         2712.583333   6321  1919
      60㎡초과 85㎡이하   2694.490196   5966  1906
      85㎡초과 102㎡이하  2884.395833   7092  1868
     전체             2694.862745   6050  1909
2016  102㎡초과        3148.099476   7241  2157
      60㎡이하         2848.144279   6713  1900
      60㎡초과 85㎡이하   2816.965686   6537  1906
      85㎡초과 102㎡이하  3067.380435   8096  2031
     전체             2816.073529   6443  1909
2017  102㎡초과        3427.649746   6949  2138
      60㎡이하         3112.538071   7005  2049
      60㎡초과 85㎡이하   2981.950980   6522  1983
      85㎡초과 102㎡이하  3204.075145   7887  2012
     전체             3008.279412   6706  1976
2018  102㎡초과        3468.355932   7545  2283
      60㎡이하         3286.184783   7398  2152
      60㎡초과 85㎡이하   3227.458128   7890  2076
      85㎡초과 102㎡이하  3467.184211   8098  2221
     전체             3235.098522   7398  2077
2019  102㎡초과        4039.854839   8989  2311
      60㎡이하         3486.910112   8281  2124
      60㎡초과 85㎡이하   3538.545918   8588  2261
      85㎡초과 102㎡이하  3933.538462  12728  2337
     전체             3515.974490   8100  2239
2020  102㎡초과        4187.566667   9039  2532
      60㎡이하         3615.968750   8330  2324
      60㎡초과 85㎡이하   3594.852941   8140  2297
      85㎡초과 102㎡이하  4532.090909  13835  2634
     전체             3603.911765   8121  2305

In [107]:
df.to_csv("house-price-clean.csv", index=False)