<a href="https://colab.research.google.com/github/boramkim0514/python01/blob/main/day12_PM2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!whoami

root

In [4]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('/content/drive/MyDrive/Book2/pydata-book-2nd-edition/examples/ex1.csv') #절대경로 - 파일 위치만 제대로 찾아가면 한빛 미디어 책 오류 목록 오탈자 참고보기

In [34]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
#df = pd.read_csv? #도움말 찾아보기

In [31]:
list(open('/content/drive/MyDrive/Book2/pydata-book-2nd-edition/examples/ex3.csv')) # \ 줄바꿈 표시, 바꾸는 방법

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491']

In [35]:
r1 = pd.read_table('/content/drive/MyDrive/Book2/pydata-book-2nd-edition/examples/ex3.txt', sep='\s+') #read_table #to_table to save

In [36]:
import sys
df.to_csv(sys.stdout)

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [37]:
!pwd

/content

In [38]:
df.to_csv('myout.csv')

In [39]:
!ls

drive  myout.csv  sample_data

In [40]:
!cat -n myout.csv #local로 stdin 출력장치 stdout 모니터로 출력하기, to 내보내기  #저장경로 주의

     1	,a,b,c,d,message
     2	0,1,2,3,4,hello
     3	1,5,6,7,8,world
     4	2,9,10,11,12,foo