<a href="https://colab.research.google.com/github/boramkim0514/KOIPA_AI/blob/main/%ED%95%A8%EC%88%98_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수?
특정 기능을 수행하는 일련의 명령
필요시 호출 가능

매개변수:  괄호 내부에 넣는 여러가지 자료들
리턴 값:  함수의 최종 결과

함수 선언:  함수가 어떤 매개변수를 받아 동작 후 어떤 값을 반환할 지 적은 것

In [ ]:
def func(mylist): # funn()  함수 호출 후 
    return sum(mylist) # 매개변수  mylist 합산한 값을 반환하라

    number = [1, 2, 3] # number 변수에 리스트 값을 할당 
print(func(number)) #매개 변수 number   동작 후 리턴 값을  출력하라

6

# 함수 종류
1 )  인스턴스 함수
문자열 -  replace, format, lower(), upper()
자료 구조 관련 -  append, expand

2) 내장 함수
len, range, print

In [ ]:
#  내장함수  사용해보기
a = [1, 2, 3, 4] # 리스트를 변수 a에 담기
length = len(a)  # length에 변수 a를  가지고  len() 함수  실행한 값을 넣자
print(length)  #변수 length 값 출력

4

In [ ]:
print(len(a))  #함수를 직접 넣어도 되는군

4

In [ ]:
a = [1, 2, 3, 4]
ran = range(a)
print(ran)

TypeError: ignored

In [ ]:
a = (1, 2, 3, 4) #range 함수에  튜플형태도 안들어가짐
ran = range(a) 
print(ran)

TypeError: ignored

In [ ]:
# range()는 1부터 9까지 숫자 리스트를 자동으로 만들어줌
ran = range(1, 10)
print(ran)  #리스트가 안보이고 인덱스 범위만 나옴

range(1, 10)

In [ ]:
list(range(5)) #0부터 5-1 까지 정수로 범위를 만듬

[0, 1, 2, 3, 4]

In [ ]:
list(range(2,5))

[2, 3, 4]

In [ ]:
list(range(1, 10, 2)) # 1 부터 9(10-1)까지, 2 간격 차이만큼 범위 정수 범위 만듬

[1, 3, 5, 7, 9]

In [ ]:
ran.shape  #배열 형태도 아님 그럼 뭐지?  배열이 어떻게 생겼나?

AttributeError: ignored

In [ ]:
list(range(0,5)) #0부터 5-1까지의 정수로 범위를 만듬

[0, 1, 2, 3, 4]

In [ ]:
#  인스턴스  함수
a.append(5) #list a 에 정수 5 넣기
print(a)

[1, 2, 3, 4, 5]

In [ ]:
a.append(len(a)) # 중복값도 추가로 더해진다
print(a)

[1, 2, 3, 4, 5, 5]

In [ ]:
b = range(5)
print(b)

range(0, 5)

In [ ]:
n = 10
a = range(0, n/2) # range 안의 매개변수는 항상 정수! 여야 함

TypeError: ignored

In [ ]:
n = 10
a = range(0, n // 2) #  정수 나누기 연산자(소수점 자리 이하 버리고 정수만 남김)
list(a)  # 0, 1, 2, 3, 4, 6, 7, 8, 9까지 /2 로 나누고 정수만 남김

[0, 1, 2, 3, 4]

In [ ]:
a.append(b)
print(a)

[1, 2, 3, 4, 5, 5, range(0, 5), range(0, 5)]

In [ ]:
type(b) #range가 자료형인가??

range

In [ ]:
def print_2_times():
    print("Hi")
    print("Hi")
print_2_times()

Hi
Hi

# 함수의 정의
def 키워드를 활용
def 키워드 뒤에 함수 이름이 옴
함수 이름 뒤에 소괄호() 이용해서 parameter or argument 작성

# 함수의 구현
함수 뒤에 콜론 (:)을 붙여서 수행할 코드 블럭을 만듬

In [ ]:
def add(x, y): #def 키워드를 활용해 함수 이름 add가 왔고, 이름 안 소괄호 안에 parameter/argument x,y 를 어떻게 받을지 정의하겠다
    n = x + y # 수행할 코드는 입력 받은 x, y를 합해준 처리를 하고 변수 n에 넣어주어라
    return n # n을 반환해라

In [ ]:
result = add(100, 200) #result라는 변수에 add함수안의 파라미터/아규먼트 100, 200을 받아 합해주고 result라는 변수에 넣어주어라 
print(result) #result 변수 속 함수 처리된 값을 출력하라

300

In [ ]:
def mul(x, y): #def 키워드를 활용해 mul이라는 함수를 정의하자, mul 함수 속 파라미터/아규먼트 x, y 를 받고 
    n = x * y # n 변수에 x * y를 곱해서 담아주자
    return n  # n 값을 반환하라

In [ ]:
print(add(10, 20)) #add 함수 안에 입력된 파라미터 10, 20을 정의된 과정대로 처리하고 값을 출력하라
print(mul(10, 20)) # 10, 20 파라미터를 mul 함수 안에 입력한 후 정의된 mul 함수 연산을 처리해서 그 값을 출력하라

30
200

# 함수가 사용되어지는 과정
함수가 호출되면 흐름이 호출자(caller) 함수(callee)로 변경된다

In [ ]:
def div(x, y): #def 키워드 활용해 함수 이름을 div로 지어주고, 그 안에 파라미터/아규먼트를 x,y로 받아주자
    print(f"나누기 수행: {x} / {y}") # x와 y 값을 넣어준 상태로 
    return x / y #리턴 x / y 나누기

print("Hello") # 문자열 출력
c = div(10, 3) # c 변수에 div 함수에 10, 3 이라는 파라미터 넣고 연산 처리한 값을 담아주자 
print(c) # 변수 c에 담긴 값을 반환해라

Hello
나누기 수행: 10 / 3
3.3333333333333335

# 함수의 네이밍
 * 함수의 기능이 담기도록 이름
 *